<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>数据安全柜控制台</Name>
    <Version>1.0.5</Version>
    <Title>数据安全柜控制台</Title>
    <Publisher>北京熠智科技有限公司</Publisher>
    <StartMenuDir>DataSafebox</StartMenuDir>
    <TargetDir>@ApplicationsDir@/DataSafebox</TargetDir>
    <WizardStyle>Classic</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <ControlScript>controlscript.qs</ControlScript>
    <Translations>
        <Translation>ifw_zh_CN</Translation>
        <Translation>qt_zh_CN</Translation>
    </Translations>
    <InstallerApplicationIcon>../../icons/SafeLogo_256</InstallerApplicationIcon>
</Installer>
